* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  padding: 60px 40px;
}

/* TITLE */
.wrapper h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 60px;
  line-height: 1.4;
  color: #333;
}

/* MAIN FLEX LAYOUT */
.content {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: flex-start;
}

/* LEFT CARD */
.card {
  background: white;
  width: 300px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.6;
}

.author strong {
  display: block;
  margin-bottom: 5px;
}

.author span {
  font-size: 13px;
  color: #3b82f6;
}

/* RIGHT TEXT */
.text {
  max-width: 600px;
}

.text p {
  margin-bottom: 20px;
  color: #666;
  line-height: 1.8;
}

.text .bold {
  font-weight: bold;
  color: #333;
}
.wrapper {
  border: 6px solid #bfe8f6; /* xanh nháº¡t */
  padding: 60px 40px;
  background-color: #f5f5f5;
}