body {
    margin: 0;
    padding: 40px;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container {
    background: #eeeeee;
    border: 2px solid #333;
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

.contact-container h2 {
    margin-bottom: 25px;
    font-weight: 600;
    color: #333;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-row input {
    flex: 1;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    background: #f9f9f9;
}

textarea {
    height: 250px;
    resize: none;
    margin-top: 10px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-submit {
    background: #41b4f2;
    color: rgb(243, 244, 246);
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    border-radius:  5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #4aa3d1;
}

.note {
    font-size: 14px;
    color: #777;
}